.panel {
  padding-block: var(--ds-space-m);
  color: var(--ds-color-on-neutral);
  font-family: var(--ds-font-family-base);
  font-size: var(--ds-font-body-m-size);
  line-height: var(--ds-font-body-m-line-height);
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ds-space-2xs);
  margin-block-end: var(--ds-space-m);
}

.button {
  padding: var(--ds-space-3xs) var(--ds-space-2xs);
  color: var(--ds-color-on-neutral);
  font-family: var(--ds-font-family-base);
  font-size: var(--ds-font-body-m-size);
  background: var(--ds-color-surface);
  border: 1px solid var(--ds-color-outline);
  border-radius: var(--ds-radius-2xs);
  cursor: pointer;
}
