@use "./styles/breakpoints" as *;

.page {
  max-width: 60rem;
  margin-inline: auto;
  padding: var(--ds-space-xl) var(--ds-space-l);
  color: var(--ds-color-on-neutral);
  font-family: var(--ds-font-family-base);
  font-size: var(--ds-font-body-m-size);
  line-height: var(--ds-font-body-m-line-height);

  @include mobile {
    padding: var(--ds-space-l) var(--ds-space-s);
  }
}

.heading {
  margin: 0 0 var(--ds-space-xl);
  font-size: var(--ds-font-body-m-size);
  font-weight: var(--ds-font-weight-bold);
}

.title {
  margin: 0 0 var(--ds-space-m);
  font-size: inherit;
  font-weight: var(--ds-font-weight-bold);
}

.block + .block {
  margin-top: var(--ds-space-2xl);
}

.panel {
  padding-block: var(--ds-space-m);
}
